body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  max-width: 30em;
  border: 1px gray solid;
  padding: 0 0.5rem;
}

h1 {
  background-color: darkgoldenrod;
  border-bottom: 1px gray solid;
}

#icon-src {
  font-family: monospace;
  font-size: 1rem;
}

figcaption {
  color: rgb(0, 92, 61);
}
