/* General styling */
body {
  font-family: "Merriweather", serif;
  font-size: 16px;
  padding: 0.5rem;
  margin: 0 auto;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
}

/* Hamburger Menu */
.navigation {
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation li {
  margin: 0 10px;
  display: none;
  cursor: pointer;
}

.navigation li:nth-child(1) {
  display: block;
}

/* Hamburger Menu responsive */
.responsive li {
  display: block;
}

/* Menu */

/* Weather alert banner */
#weather-alert {
  background-color: rgb(224, 58, 58);
  color: rgb(255, 255, 255);
  text-align: center;
}

#weather-alert p {
  margin: 0;
  padding: 0.5rem;
}

#weather-notify button {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 15px;
}

.remove-notify {
  display: none;
}

/* Logo and heading */
.logo-box {
  display: flex;
  justify-content: space-around;
  padding: 0.8rem;
}

/* footer */
footer {
  text-align: center;
}
