@media screen and (min-width: 45em) {
  body {
    max-width: 70em;
  }

  .contact-button {
    grid-row: 1/3;
  }

  .social {
    grid-column: 4;
    grid-row: 1/3;
  }

  /* footer */

  .info-footer p {
    display: inline;
  }
}
